<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="suiteTest">
    <classes>
      <class name="login_module.loginTest"/>
      <class name="hospitsl_buildings.Hospital_buildingTest"/>
    </classes>
  </test> <!-- suiteTest -->
</suite> <!-- Suite -->
